{{- /* Downloads from data/printkit.yaml, so adding one is a data edit. */ -}}
<ul class="kit" role="list">
{{- range site.Data.printkit.items }}
  {{- $path := printf "files/printkit/%s" .file }}
  <li class="kit-item">
    <a class="kit-shot" href="{{ $path | relURL }}" download>
      <img src="{{ (printf "images/printkit/%s" .preview) | relURL }}" alt="{{ .title }}" loading="lazy">
    </a>
    <div class="kit-body">
      <h3>{{ .title }}</h3>
      <p class="kit-sheet">{{ .sheet }}</p>
      <a class="btn btn-outline btn-small" href="{{ $path | relURL }}" download>Download</a>
    </div>
  </li>
{{- end }}
</ul>
